<!-- Painel de Admnistrador -->
<main>
  <!-- Barra de navegação -->
  <nav class="navbar">
    <div class="nav-logo">
      <a href="/produtos">Painel</a>
    </div>
    <!-- Botão de login -->
    <div class="nav-actions">

      {{#if isAuthenticated}}
        <div class="user-account-dropdown">
          <a href="#" class="account-btn" onclick="toggleDropdown(event)">
            Olá,
            <strong>{{userName}}</strong>!
          </a>
          <div class="dropdown-content" id="accountDropdown">
            <a href="/admin/painel">Painel Administrador</a>
            <a href="/auth/logoff">Sair</a>
          </div>
        </div>
      {{else}}
        <a href="/login" class="login">Login / Cadastre-se</a>
      {{/if}}
    </div>
  </nav>

  <!-- Formulário de cadastro -->
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <form
          action="/admin/register"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="text"
            name="nome"
            class="form-control"
            placeholder="Nome do produto"
          />
          <input
            type="number"
            name="valor"
            class="form-control"
            placeholder="Valor do produto"
          />
          <input
            type="number"
            name="estoque"
            class="form-control"
            placeholder="Quantidade estoque"
          />
          <input type="file" name="imagem" class="form-control" />
          <input type="submit" class="btn btn-primary" value="Cadastrar" />
        </form>
      </div>
    </div>
  </div>

  <!-- Lista de produtos -->
  <div class="container">
    <div class="row">
      {{#each produtos}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <img src="/images/{{imagem}}" />
            <div class="textos">
              <p>
                {{nome}}<br />
                {{formatCurrency valor}}
              </p>
            </div>
            <a
              href="/admin/alterar-produtos/{{id_produto}}"
              class="btn btn-warning"
            >Alterar</a>
            <a
              href="/admin/remove/{{id_produto}}&{{imagem}}"
              class="btn btn-danger"
            >Remover</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <script type="module" src="/js/components/dropdown.js"></script>
  <script type="module" src="/js/components/search.js"></script>
</main>